
/*******************
   Begin settings
*******************/
html {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "Roboto" ;
    font-weight: 300;
    box-sizing: border-box;
    font-size: 16px;
    color: #424242;
    text-decoration: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-width: 1200px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fix{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*******************
       Header
*******************/

header{
    padding: 15px 0;
}
header>.fix>div{
    display: inline-block;
}
.logo{
    width: 300px;
    padding: 10px 0 0;
}
.logo img{
    margin-bottom: 20px;
}
.address{
    text-align: center;
    width: 600px;
    margin-bottom: 10px;
}
.address h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.station{
    margin-top: 15px;
}
.station .fa-map-marker{
    color: #db4d4d;
    font-size: 18px;
    margin-right: 10px;
}
.station .caret-down{
    font-weight: 600;
    border-bottom: 1.5px dashed #424242;
    cursor: pointer;
    margin: 0 8px;
}
.station .caret-down s{
    font-weight: 600;
}
.button{
    cursor: pointer;
    display: inline-block;
    width: 195px;
    border: 2px solid #db4d4d;
    border-radius: 5px;
    padding: 10px;
    transition: 0.4s;
}
.button:hover{
    background: #db4d4d;
    color: #fff;
}
.basket{
    float: right;
    padding-top: 20px;
    text-align: center;
}
.basket a{
    margin-top: 10px;
    display: inline-block;
    position: relative;
}
.basket i{
    display: inline-block;
    font-size: 26px;
    color: #7a7a7a;
}
.basket a:before, .basket a:after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 1px;
    background: #7a7a7a;
    top: 50%;
}
.basket a:before{
    left: -70px;
}
.basket a:after{
    right: -70px;
}
.basket .item-quantity{
    position: absolute;
    display: inline-block;
    top: -4px;
    right: -11px;
    font-weight: 600;
    background: #db4d4d;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    height: 15px;
    width: 15px;
    padding: 2px;
}

/*******************
    Modal windows
*******************/

.cities-block, .streets-block{
    display: none;
    position: absolute;
    z-index: 2;
    overflow-y: scroll;
    background: #fff;
    width: 350px;
    height: 150px;
    top: 132px;
    left: 35%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    box-shadow: -1px 4px 7px -2px rgba(0,0,0,0.4);
}
.streets-block{
    left: 45%;
}
.cities-block ul li, .streets-block ul li{
    padding: 12px 7px;
    border-bottom: 1px dashed #d0d0d0;
    cursor: pointer;
}
.cities-block ul li:last-child, .streets-block ul li:last-child{
    border-bottom: none;
}
.wrap{
    display: inline-block;
    position: fixed;
    opacity: 0;
    z-index: 100;
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}
.wrap.show{
    opacity: 1;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.call-block{
    display: inline-block;
    opacity: 0;
    position: fixed;
    z-index: 101;
    top: 15%;
    left:  50%;
    width: 400px;
    height: 315px;
    margin-left: -200px;
    background: url("../img/bg_pattern.jpg") repeat;
    padding: 20px;
    text-align: center;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.call-block.show{
    opacity: 1;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.call-block font{
    position: relative;
}
.call-block h2{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 5px 5px;
    text-transform: uppercase;
}
.call-block h6{
    font-size: 15px;
    margin-bottom: 20px;
}
.call-block h2, .call-block h6, .call-block input, .call-block .button{
    display: block;
}
.call-block input{
    font-size: 14px;
    margin: 15px auto;
    width: 300px;
    padding: 10px 20px;
}
.call-block .button{
    margin: 30px auto;
    width: 300px;
    background: transparent;
    padding: 12px 10px;
}
.call-block .button:hover{
    background: #db4d4d;
}
.close{
    cursor: pointer;
    position: absolute;
    background: url("../img/close.png");
    opacity: 1;
    height: 27px;
    width: 27px;
    top: 10px;
    right: 10px;
}

/*******************
   Navigation Menu
*******************/

nav{
    width: 100%;
    text-align: center;
    background: #424242;
}
nav ul li{
    display: inline-block;
    border-right: 1px solid rgba(255,255,255,0.1);
    padding: 15px 0;
}
nav ul li:last-child{
    border-right: none;
}
nav ul li a{
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    margin: 0 20px;
}
nav ul li a i{
    display: inline-block;
    color: #fff;
    margin-right: 15px;
}
nav ul li a:hover{
    color: #fff;
    text-decoration: underline;
}
nav ul li.active{
    color: #f6e00b;
    border-bottom: 3px solid #f6e00b;
}
nav ul li.active i, nav ul li.active a{
    color: #f6e00b;
}
.banner{
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
}
.banner2{
    height: 145px;
}
.banner img{
    width: 100%;
}
.banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 200px;
    background: rgba(192, 147, 108, 0.5);
}
.banner2:after{
    height: 145px;
}
.steps{
    position: relative;
    z-index: 1;
    background: rgba(255, 234, 0, 0.9);
    height: 150px;
    margin-top: -75px;
    padding: 20px;
}
.steps h5{
    text-transform: uppercase;
    margin: 10px;
    font-size: 17px;
}
strong{
    font-weight: 600;
}
.steps-form .circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #FFEA00;
    position: relative;
}
.steps-form .circle:first-child:before{
    display: none;
}
.steps-form .circle:before{
    content: '';
    position: absolute;
    top: 5px;
    right: 16px;
    width: 264px;
    height: 2px;
    background: #fff;
}
.steps-form .circle2{ margin-left: 260px; }
.steps-form .circle3{ margin-left: 260px; }
.steps-form .circle4{ margin-left: 260px; }
.steps-form .circle5{ margin-left: 260px; }
.steps-form .circle.done{
    border-color: #424242;
    background: #fff;
}
.steps-form .circle.done:before{
    background: #424242;
}
.steps table{
    width: 100%;
}
.steps table tr td{
    width: 25%;
    line-height: 1.2;
    vertical-align: top;
    text-align: center;
    padding: 5px 50px;
}
.steps .send{
    position: absolute;
    right: 20px;
    bottom: 30px;
    font-size: 30px;
}
main{
    background: url("../img/bg_pattern.jpg") repeat;
    padding: 30px 0 10px;
}
main.main{
    margin-top: -75px;
    padding: 75px 0 0 0;
}
.select-sampler{
    padding: 20px 0;
    width: 680px;
}
.select-sampler table, .additionally{
    width: 630px;
    position: relative;
}
.select-sampler table .after{
    display: inline-block;
    position: absolute;
    background: #ffea00;
    top: -7px;
    right: -7px;
    font-weight: 600;
    color: #000;
    border-radius: 50%;
    font-size: 13px;
    height: 17px;
    width: 17px;
    text-align: center;
    padding: 2px;
    z-index: 9;
}
.select-sampler h3{
    color: #c39873;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 25px 0;
}
.select-sampler h3:first-child{
    margin-top: 0;
}
.select-sampler h3 .h3{
    display: inline-block;
    background: url("../img/select-sampler.png");
    width: 26px;
    height: 25px;
    margin: 0 20px 0 0;
    position: relative;
    top: 3px;
}
.select-sampler h3 .h32{ background-position: -26px 0; }
.select-sampler h3 .h33{ background-position: -54px 0; }
.select-sampler h3 .h34{ background-position: -81px 0; }
.select-sampler h3 .h35{ background-position: 25px 0; }
.form td{
    width: 25%;
    background: #fff;
    border: 1px solid #d0d0d0;
    vertical-align: middle;
    text-align: center;
}
.form .form-div{
    cursor: pointer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    height: 115px;
    width: 157px;
    border: 3px solid transparent;
}
.form .form-div.active{
    border: 3px solid #db4d4d;
}
.form td hr{
    border-color: #d0d0d0;
    margin: 0;
}
.form td h6{
    font-weight: 600;
}
.form td span{
    display: block;
    color: #b2b2b2;
    font-size: 14px;
}
.form td img{
    cursor: pointer;
    margin-bottom: 5px;
}
.standard, .increased{
    position: relative;
    padding: 20px 0;
    border: 3px solid #fff;
}
.standard{
    height: 190px;
}
.standard>h6, .increased>h6{
    margin-bottom: 10px;
}
.standard-hover, .increased-hover{
    color: #fff !important;
    cursor: pointer;
    z-index: 0;
    padding: 22px 0 5px;
    opacity: 0;
    transition: 0.3s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 184px;
    background: rgba(0,0,0,0.7);
}
.increased-hover{
    height: 278px;
    top: 0;
    padding: 25px 0 5px;
}
.standard-hover h6, .increased-hover h6{
    color: #fff;
}
.form tr:first-child td:first-child{
    width: 25%;
    background: #fff;
    border: 1px solid #d0d0d0;
    height: 452px ;
}
.forms{
    position: relative;
}
.standard.act, .increased.act{
    border: 3px solid #db4d4d;
}
@-webkit-keyframes swing {
     0% {
         -webkit-transform: scale(0);
         transform: scale(0);
     }
     100% {
         -webkit-transform: scale(1);
         transform: scale(1);
     }
 }
@keyframes swing {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.standard:hover .standard-hover, .increased:hover .increased-hover{
    opacity: 1;
    -webkit-animation: swing 0.5s ease;
    animation: swing 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.standard-hover h6{
    margin-top: -1px;
}
.increased-hover h6{
    margin-top: -7px;
}
.standard-hover p, .increased-hover p{
    font-size: 15px;
    line-height: 1.3;
    display: block;
    color: #fff;
    padding: 30px 15px;
}
.color tr:first-child{
    background: #e8e8e8;
}
.color tr:last-child{
    background: #fff;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
.color td{
    width: 65px;
    height: 50px;
    padding: 0 0 0 8px;
    vertical-align: middle;
    text-align: center;
}
.color td:first-child{
    text-align: left;
}
.color td span{
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.color td span.click:after{
    content: '';
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: url("../img/color-click.png") 50% 50% no-repeat !important;
}
.material, .text-sampler{
    border: 1px solid #d0d0d0;
    background: #fff;
}
.material td{
    padding: 10px;
    width: 50%;
    vertical-align: middle;
}
.material td input[type=radio]{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.material td label{
    height: 30px;
}
.material td label em{
    color: #dd5e5e;
    font-weight: 700;
}
.text-sampler td{
    padding: 10px 15px;
}
.text-sampler input[type=text]{
    font-weight: 200;
    width: 400px;
    border: none;
    outline: none;
    background: #e8e8e8;
    padding: 8px 10px;
}
.ready{
    background: #ffea00;
}
.ready td{
    vertical-align: middle;
    padding: 10px 0;
}
.ready td:first-child{
    text-align: center;
}
.ready td img{
    margin: 10px;
}
.additionally{
    padding: 0 0 30px;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
}
.additionally h6{
    padding: 25px;
}
.additionally .add{
    display: block;
    width: 100%;
    padding: 10px 30px;
}
.e1 label:before, .e1 label:after{
    margin-top: 5px;
}
.e1{
    background: #e8e8e8;
    position: relative;
}
.e1:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/recomend.png") 50% 50%;
    height: 57px;
    width: 117px;
    background-size: cover;
}
.additionally .add label{
    padding-top: 5px;
}
.additionally .add.active{
    background: #e8e8e8;
}
.additionally radio:checked + .add{
    background: #e8e8e8;
}
.additionally .add label em{
    text-transform: uppercase;
    color: #dd5e5e;
    font-weight: 700;
}
.additionally table{
    margin: 0 30px;
}
.additionally table td{
    width: 10px;
    height: 40px;
}
.sampler{
    width: 510px;
    background: #fff;
    border: 1px solid #b2b2b2;
    padding: 15px 70px 30px;
    top: 0;
    right: 0;
    position: absolute;
    height: 600px;
}
.sampler.fixed{
    position: fixed;
    top: 5px;
    margin-left: 690px;
    z-index: 0;
    right: initial;
}
.sampler.fixed-bottom{
    top: initial;
    bottom: 28px;
}
.sampler .img{
    width: 100%;
    text-align: center;
    margin: 15px 0 5px;
    height: 110px;
    padding: 10px 0;
}
.sampler .img img{
    max-height: 100px;
}
.sampler h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #cdcbcb;
}
.sampler .characteristic i{
    display: inline-block;
    background: url("../img/sampler.png");
    width: 27px;
    height: 24px;
    margin-right: 10px;
}
.sampler .characteristic td{
    vertical-align: middle;
    padding: 7px 0;
}
.sampler .characteristic .sampler-size{ background-position: 0 0; }
.sampler .characteristic .sampler-colour{ background-position: -26px 0; }
.sampler .characteristic .sampler-basis{ background-position: -52px 0; }
.sampler .characteristic .sampler-text{ background-position: 27px 0; }
.sampler h6{
    margin: 10px 0;
}
.sampler .additionally-characteristic i{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    margin-left: 2px;
}
.sampler .additionally-characteristic .added{
    background: url("../img/checked.png");
    background-size: cover;
}
.sampler .additionally-characteristic .not-added{
    background: url("../img/not-added.png");
}
.sampler .additionally-characteristic td{
    vertical-align: middle;
    padding: 4px 7px;
}
#price{
    display: inline-block;
    margin-top: 40px;
    font-size: 44px;
    font-weight: 600;
    position: relative;
    margin-right: 45px;
    width: 115px;
    text-align: right;
}
#price em{
    font-size: 16px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    top: 5px;
    right: -30px;
}
.sampler .button{
    position: relative;
    top: -10px;
    text-align: center;
}
.sampler .button.active {
    background: #db4d4d;
}
.sampler .button.active i{
    color: #fff;
}
.radio {
    vertical-align: top;
    width: 1px;
    height: 1px;
    margin: 0 3px 0 0;
}
.radio + label {
    cursor: pointer;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
    display: inline-block;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #00732a url("../img/checked.png");
    opacity: 0;
    transition: all .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
footer{
    background: #424242;
    padding: 60px 0 100px;
    z-index: 1;
    position: relative;
}
footer .fix>div{
    display: inline-block;
}
footer .logo{
    display: inline-block;
    padding: 0 30px 0 0;
    border-right: 1px solid #858585;
}
footer .logo a{
    display: inline-block;
}
footer .logo img{
    margin: 0;
}
footer .pay{
    padding-left: 30px;
}
footer .pay h6{
    color: #fff;
    margin-bottom: 15px;
}
footer .pay a{
    display: inline-block;
    width: 50px;
    height: 33px;
    background: url("../img/pay.png");
    opacity: 0.8;
}
footer .pay a:hover{
    opacity: 1;
}
footer .pay .maestro{ background-position: 0 0; }
footer .pay .robokassa{ background-position: -55px 0; }
footer .pay .paypal{ background-position: -111px 0; }
footer .pay .web{ background-position: -166px 0; }
footer .pay .visa{ background-position: -222px 0; }
footer .pay .qiwi{ background-position: 50px 0; }
footer .delivery{
    color: #fff;
    text-align: center;
    font-weight: 200;
    margin: 0 30px;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    position: relative;
    top: -10px;
}
.contact{
    float: right;
    text-align: right;
    color: #fff;
}
.contact i{
    color: #7e7e7e;
    font-size: 24px;
    margin: 7px 15px 7px 0;
}
.contact strong{
    color: #fff;
    font-size: 24px;
}
main h1{
    font-size: 22px;
    color: #c0936c;
    font-weight: 600;
    text-transform: uppercase;
}
main h1 img{
    margin-right: 15px;
    position: relative;
    top: 4px;
}
.table{
    background: #fff;
    border: 1px solid #d0d0d0;
    color: #1a1a1a;
    margin: 30px 0;
}
.table tr{
    border-bottom: 1.5px dashed #d0d0d0;
}
.table tr td{
    vertical-align: middle;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    position: relative;
}
.table tbody tr td{
    border-top: none;
}
.table tr td:first-child{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.table tr:first-child td:first-child{
    text-align: left;
}
.table tr:last-child{
    border-bottom: none;
}
.table tr:last-child td{
    padding-bottom: 70px !important;
}
.table h3{
    color: #357dc8;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.table h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.table p{
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
    padding-right: 200px;
}
.content{
    margin: 30px 0;
    background: #fff;
    border: 1px solid #d0d0d0;
    padding: 10px 40px 30px;
}
.request p{
    padding-right: 170px;
}
.request td:last-child:after{
    content: '”';
    font-size: 168px;
    font-weight: 200;
    color: #e7d5c6;
    position: absolute;
    top: -15px;
    right: 30px;
}
.question{
    display: block;
    padding: 30px 100px 30px 0;
    border-bottom: 1px solid #d0d0d0;
}
.question:last-child{
    border-bottom: none;
}
.question > input + label:before{
    content: "+";
    display: inline-block;
    margin-right: 20px;
    font-size: 31px;
    font-weight: 200;
    color: #fff;
    background: #db4d4d;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer !important;
    position: relative;
    top: 5px;
}
.question > input + label{
    font-weight: 600;
    cursor: pointer;
}
.question > input:checked + label:before{
    content: "-";
    font-weight: 200;
    background: #bcbcbc;
}
.question > input{
    display: none;
}
.question > input + label , .question > .question_body{
    padding: 5px 15px;
    overflow: hidden;
    width: 100%;
    display: block;
}
.question > input + label + .question_body{
    display: none;
}
.question > input:checked + label + .question_body{
    display: block;
}
.question > .question_body{
    text-align: justify;
    padding: 20px 0 0 65px;
    font-weight: 200;
    line-height: 21px;
}
.contact-content{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.contact-content h2{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #de5d5d;
    font-weight: 500;
    text-transform: uppercase;
}
.contact-content p{
    font-weight: 600;
}
.contact-content .fa{
    width: 40px;
    margin: 8px 0;
    color: #c0936c;
    font-size: 23px;
    position: relative;
    top: 2px;
}
.contact-content>div{
    flex-basis: 350px;
}
.contact-info{
    width: 850px;
    border: 1px solid #b2b2b2;
}
.contact-info tr td{
    padding: 13px 0;
}
.contact-info tr td:first-child{
    width: 290px;
    padding-left: 80px;
    background: #c0936c;
    border-bottom: 1px dashed #fff;
    color: #fff;
    font-weight: 300;
}
.contact-info tr td:last-child{
    padding-left: 80px;
    background: #fff;
    border-bottom: 1px dashed #b2b2b2;
    color: #1a1a1a;
    font-weight: 600;
}
.contact-info tr:last-child td{
    padding-bottom: 15px;
    border-bottom: none;
}
.delete_from_basket img{
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.delete_from_basket img:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.order{
    text-align: center;
}
.order tr:nth-child(2) td:nth-child(3){
    text-align: left;
}
.order tr td{
    min-width: 100px;
    font-weight: 200;
}
.order tr:first-child td{
    font-weight: 300;
}
.order tr td:first-child{
    width: 30px;
    min-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.order h5{
    margin-bottom: 5px;
    font-size: 16px;
    color: #357dc8;
    text-transform: uppercase;
    font-weight: 600;
}
.order p{
    padding-right: 0;
    font-size: 14px;
    line-height: 15px;
    margin: 10px 0;
}
.order p img{
    margin-right: 8px;
}
.minus, .plus{
    display: inline-block;
    position: relative;
    top: -2px;
    font-size: 26px;
    line-height: 24px;
    font-weight: 200;
    color: #fff;
    background: #357dc8;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer !important;
    margin: 0 10px;
}
.order tr:nth-child(n+3){
    border-bottom: none;
}
.order tr:nth-child(n+3) td p{
    text-align: right;
    font-size: 18px;
    font-weight: 200;
}
.order tr:nth-child(n+3) td p em{
    display: inline-block;
    margin-left: 25px;
    width: 140px;
    text-align: left;
    font-style: normal;
    font-weight: 200;
}
.order tr:nth-child(2) td:nth-child(5) s{
    position: relative;
    top: -5px;
}
.order tr:nth-child(4) td{
    background: #f3f3f3;
}
.order tr:nth-child(4) td p{
    text-transform: uppercase;
    font-size: 24px;
}
.order tr:nth-child(4) td p em span{
    font-size: 30px;
    font-weight: 600;
}
.order tr:nth-child(4) td p em i{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    position: relative;
    top: -12px;
    left: -5px;
}
.order textarea{
    resize: none;
    padding: 15px 25px;
    width: 1100px;
    height: 100px;
    margin: 0 10px;
    font-weight: 200;
    font-size: 16px;
    border: 1px solid #d0d0d0;
}
.main_order{
    padding-bottom: 80px !important;
}
.button_order{
    display: block;
    margin: 30px auto ;
    width: 280px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: 300;
    text-align: center;
}
.form_order{
    display: inline-block;
    width: 570px;
    height: 400px;
    padding: 35px;
    background: #fff;
    border: 1px solid #d0d0d0;
    margin: 30px 0;
}
.form_order h5{
    margin-bottom: 15px;
    font-size: 16px;
    color: #357dc8;
    text-transform: uppercase;
    font-weight: 600;
}
.form_order input{
    width: 100%;
    margin: 12px 0;
    background: #f3f3f3;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 200;
}
.form_order .radio:not(checked) + label:before, .form_order .radio:not(checked) + label:after{
    left: -12px;
    top: 0;
}
.form_order label{
    margin: 10px 20px 10px 10px;
    font-weight: 200;
}
.form_order label span{
    display: block;
    font-weight: 600;
    line-height: 20px;
}
.way_pay{
    float: right;
}
.way_pay label{
    line-height: 20px;
    font-weight: 200;
}
.input{
    margin: 0 0 15px;
    font-weight: 200;
    position: relative;
}
.input em{
    display: inline-block;
    color: #db4d4d;
    width: 15px;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}
.way_address{
    width: 100%;
    height: inherit;
    text-align: center;
    padding-bottom: 50px;
}
.way_address h5{
    text-align: left;
}
.way_address input{
    width: 520px;
    margin-left: 40px;
}
.way_address input.input_left{
    margin-left: 0;
    margin-right: 40px;
    font-weight: 200;
}
.red{
    display: inline-block;
    color: #db4d4d;
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    margin-top: 22px;
    margin-left: -16px;
}
.way_address .red{
    margin-left: -60px;
}
.gallery{
    width: 100%;
    margin: 30px 0;
    text-align: center;
}
.gallery img{
    display: inline-block;
    margin: 5px;
    height: 210px;
}
.form-mob{
    display: none;
}
.hint{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #7a7a7a;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    color: #fff;
    display: inline-block;
}
.color .hint{
    position: absolute;
    margin-left: 15px;
    margin-top: -5px;
}
.hint-box{
    display: none;
}

/*
@media (max-width: 1200px) {
    body {
        min-width: 900px;
    }
    .fix {
        width: 900px;
    }
    .sampler {
        position: absolute !important;
        padding: 15px 20px 30px;
        width: 300px;
        top: 140px !important;
        font-size: 60% !important;
        height: 550px;
    }
    .sampler *{
        font-size: 105% !important;
    }
    .sampler .button{
        width: 120px;
        padding: 5px 0;
        position: relative;
        top: -3px;
    }
    .select-sampler{
        transform: scale(0.85);
        margin-top: -140px;
        margin-left: -40px;
    }
    .steps-form .circle:before{
        width: 184px;
    }
    .steps-form .circle2,.steps-form .circle3,.steps-form .circle4, .steps-form .circle5{ margin-left: 180px; }
    .steps table tr td, .station, .station .caret-down{
        font-size: 13px;
    }
    .address{
        width: 340px;
    }
    .contact-info{
        width: 650px;
    }
    .order tr td{
        min-width: 50px;
    }
    .order tr td h5{
        font-size: 17px;
    }
    .order p{
        font-size: 11px;
    }
    .order tr:nth-child(2) td:nth-child(2) img{
        width: 90px !important;
    }
    .order tr:nth-child(2) td:nth-child(3){
        width: 250px;
    }
    .order textarea{
        width: 820px;
    }
    .way_pay{
        float: none;
    }
    #price{
        width: 60px;
        font-size: 21px !important;
        letter-spacing: -.5px !important;
        margin-right: 30px;
        margin-top: 30px;
    }
    #price em{
        font-size: 10px !important;
        right: -20px;
    }
    .sampler .additionally-characteristic i{
        margin-right: 0;
    }
}
@media (max-width: 900px) {
    body {
        min-width: inherit;
    }
    .fix{
        width: 100%;
        overflow: hidden;
    }
    .sampler {
        position: relative !important;
        height: 550px;
        width: 98%;
        display: block;
        margin: 0 auto 150px;
        text-align: center;
    }
    .sampler .characteristic, .additionally-characteristic{
        margin: 0 auto;
        text-align: left;
    }
    .sampler h6{
        font-size: 20px !important;
    }
    .steps-form{
        display: none;
    }
    header>.fix>div{
        display: block;
    }
    nav ul li{
        display: block;
        padding: 5px 0;
    }
    header{
        text-align: center;
    }
    .logo, .address{
        width: 100%;
    }
    .basket{
        float: none;
    }
    .steps table tr td{
        padding: 5px;
    }
    .select-sampler{
        width: 100%;
        transform: scale(1);
        margin: 0 0 -100px;
    }
    .select-sampler table, .additionally{
        width: 98%;
        margin: 0 auto;
    }
    section.banner{
        height: 80px;
    }
    section.banner img{
        height: 80px;
    }
    footer .fix>div{
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        padding: 0;
    }
    .contact-content{
        display: block;
        height: inherit;
    }
    .contact-content>div{
        display: block;
        width: 100%;
        text-align: center;
    }
    .contact-info{
        width: 100%;
        margin-bottom: 80px;
    }
    .form_order{
        width: 98%;
        margin: 10px auto;
    }
    .way_address input{
        margin: 10px 0!important;
    }
    .order tr td{
        padding: 0;
        min-width: 30px;
    }
    .order tr:nth-child(2) td:nth-child(3){
        width: 150px;
    }
    .color td{
        width: 5%;
        padding: 0 2px;
    }
    .text-sampler td{
        padding: 10px 4px;
    }
    .text-sampler input[type=text]{
        width: 200px;
    }
    .table tr td{
        padding: 3px !important;
    }
    .table tr td p{
        padding: 3px !important;
    }
    .question{
        padding-right: 0;
    }
    .question > input + label, .question > .question_body{
        font-size: 14px;
    }
    .form-big{
        display: none;
    }
    table.form.form-mob{
        display: block;
    }
    .form-mob tr:first-child td:first-child{
        height: inherit;
    }
    .form-mob td{
        width: inherit;
        text-align: center;
    }
    .form-mob .forms{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
    }
    .form-mob .forms>div{
        width: 50%;
        height: 110px;
        padding: 0;
    }
    .form-mob .forms>div>div{
        height: 110px;
        padding: 10px;
    }
    .form-mob .forms>div>div p{
        padding: 5px 0 0;
    }
    .form-mob .forms>div h6{
        margin: 0;
        padding: 0;
    }
    .form-mob .forms>div img{
        height: 80px;
        width: auto;
    }
    .form-mob .form-div{
        width: 100%;
        margin: 0 auto;
    }
    .form-mob td .form-div{
        display: block;
        width: 100%;
        height: 100px;
        padding-top: 10px;
    }
    .form-mob td img{
        width: auto;
    }
}
@media (max-width: 390px) {
    .form-mob td img{
        width: 60px;
    }
    .color tr td:first-child strong, .color tr td:first-child s{
        font-size: 11px !important;
    }
}
*/






